<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi version Bible</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    h2 {
        font-size: 36px;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
    }
    h3 {
        font-size: 28px;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
    }
h4{
    font-size: 26px;
}
    p {
        font-size: 16px;
        font-family: "Poppins", sans-serif;
    }
</style>

<body style="background-color: #f5f5f5; padding:30px">

    <div
        style="width: 100%; max-width: 600px;  padding: 15px;  background:#fff; border-radius:10px; margin-left:auto; margin-right:auto; ">
        <h4 style="font-size: 24px; margin-bottom:15px; font-weight:600">Verse of The Day</h4>

          {{{msg}}}
        <table style="width: 100%; padding-block:90px">
          
            <tr>
                <td>
                    <p style="margin: 20px 0px">Regards {{name}}</p>
                    <p style="margin: 20px 0px">Cheers,<br />Multi Version Bible Team</p>
                </td>
            </tr>
        </table>

    </div>

</body>

</html>